div#pcomprare {
    background-color: #fff;
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";
    color: #666;
}

.tb-1 {
    width: 100%;
    margin-top: -1px;
    border-collapse: collapse;
    border: 1px solid #ddd;
    border-top: none;
    table-layout: fixed;
}

table {
    empty-cells: show;
}

tb-1 td {
    width: 250px;
}

.tb-1 td a img {
    width: 100px;
    height: 100px;
}

.tb-1 td {
    overflow: hidden;
    width: 202px;
    text-align: center;
    vertical-align: top;
}

.tb-1 th, .tb-1 td {
    padding: 8px 14px;
    border: 1px solid #ddd;
    line-height: 20px;
    font-size: 12px;
    word-wrap: break-word;
    color: #666;
}

.tb-1 th {
    width: 79px;
    padding-left: 30px;
    text-align: left;
    font-weight: normal;
    color: #999;
    padding-right: 0;
}

.tb-1 a:link, .tb-1 a:visited {
    color: #005EA7;
}

.p-price {
    color: #999;
}

.p-img, .p-name, .p-price, .p-market, .p-detail {
    overflow: hidden;
}

/*暂无对比项*/
.tb-1 tbody .no-contrast {
    padding: 70px 0px 5px;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 25px;
    color: #ccc;
}

.tb-1 tbody .add-contrast {
    text-align: center;
}

/*主体*/

.tb-1 thead tr {
    background-color: #f7f7f7;
}

.tb-1 thead tr th {
    background: #F7F7F7 url(../images/20130425B.png) no-repeat 10px 50%;
}

.tb-1 thead tr.active th {
    background: #F7F7F7 url(../images/20130425C.png) no-repeat 10px 50%;
}

.tb-1 thead th {
    font-size: 14px;
    color: #E4393C;
}

.tb-1 span, .tb-1 span a:link, .tb-1 span a:visited {
    color: #E4393C;
}

.p-price strong, .p-market strong {
    color: #E4393C;
    font-family: microsoft yahei;
    font-size: 14px;
}

.tb-1 tbody tr:hover {
    background-color: #f7f7f7;
}

.tabcon {
    padding: 0 10px 10px 10px;
}