/*头尾样式 Begin*/
.header-b {
    width: 100%;
    min-width: 1000px;
    height: 100px;
    background-color: #0fb7db;
    margin-bottom: 0;
}

.header {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.slogan {
    width: 255px;
    height: 50px;
    position: absolute;
    top: 46px;
    left: 160px;
}

.shortcut {
    width: 558px;
    height: 20px;
    line-height: 20px;
    margin-left: 450px;
    color: #fff;
    text-align: right;
}

.shortcut a {
    color: #fff;
}

.shortcut a:hover {
    color: #fff;
    text-decoration: underline;
}

.main {
    width: 1000px;
    margin: 0 auto;
    height: auto;
    padding-bottom: 20px;
    margin-top: 10px;
}

.main.index {
    width: 1200px;
}

/*高度自适应*/
.main:after {
    content: "";
    clear: both;
    display: block;
}

/*头尾样式 End*/

/*New-头尾样式*/
.top-menu {
    width: 100%;
    min-width: 1200px;
    height: 36px;
    background-color: #f1f1f1;
}

.top-menu > div {
    width: 1200px;
    height: 36px;
    margin: 0 auto;
    font-size: 12px;
}

.top-menu > div:after {
    content: "";
    display: block;
    clear: both;
}

.top-menu > div > div {
    float: left;
    padding-left: 24px;
}

.top-menu > div > div > span {
    height: 36px;
    line-height: 36px;
    display: inline-block;
    vertical-align: top;
    padding-right: 25px;
}

.top-menu > div > div > span > span {
    font-size: 14px;
    font-family: "Arial";
}

/*QQ*/
.top-menu > div > div > a {
    display: inline-block;
    line-height: 36px;
    color: #ff5000;
    font-size: 12px;
    vertical-align: top;
    padding-left: 20px;
    padding-right: 12px;
    position: relative;
    background-image: url(../images/v3/icons-2.png);
    background-position: 0 -302px;
}

.index-online-service1 {
    width: 80px;
    height: 36px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.index-online-service2 {
    width: 100px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.top-menu > div > ul.menu-nav {
    float: right;
    height: 36px;
    margin-right: 15px;
}

.menu-nav > li {
    display: block;
    float: left;
    padding: 0 5px;
    background-image: url(../images/v3/icons-1.png);
    background-repeat: no-repeat;
    background-position: left -262px;
}

.menu-nav > li > a {
    line-height: 36px;
}

.menu-nav > li:first-child {
    background-image: none;
}

.menu-nav > li {
    line-height: 36px;
    display: block;
    padding: 0 5px;
    height: 36px;
    position: relative;
}

.menu-nav > li > a {
    color: #666;
    padding: 0 10px;
}

.menu-nav > li.name > a {
    max-width: 80px;
    line-height: 36px;
    display: inline-block;
    vertical-align: top;
    color: #0178e7;
    padding-left: 0;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.menu-nav > li.name > a:hover {
    text-decoration: underline;
}

.menu-nav > li.measseg {
    padding-left: 10px;
}

.menu-nav > li.measseg > a > span {
    color: red;
}

.menu-nav > li.login > a.down {
    background-image: url(../images/v3/icons-1.png);
    background-position: 38px -124px;
}

.menu-nav > li.regis > a.down {
    color: red;
    background-image: url(../images/v3/icons-1.png);
    background-position: 63px -124px;
    background-repeat: no-repeat;
}

.menu-nav > li.login.fcs > a.down {
    background-position: 38px -81px;
}

.menu-nav > li.regis.fcs > a.down {
    text-decoration: underline;
    background-position: 63px -81px;
}

.menu-nav > li.elastic > a {
    display: block;
    padding-right: 20px;
    line-height: 34px;
    border: 1px solid #f1f1f1;
}

.menu-nav > li.elastic.fcs > a,
.menu-nav > li.elastic > a:hover {
    background-color: #fff;
    line-height: 34px;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}

.menu-nav > li.elastic:hover > ul {
    display: block;
}

.menu-nav > li.elastic > ul {
    display: none;
    width: 80px;
    z-index: 1;
    top: 34px;
    position: absolute;
    padding: 5px 10px 10px 10px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

.menu-nav > li.elastic.login > ul {
    background-repeat: no-repeat;
    background-position: 29px -327px;
    background-image: url(../images/v3/icons-1.png);
}

.menu-nav > li.elastic > ul > li > a {
    color: #666;
}

.menu-nav > li.elastic > ul > li > a:hover {
    color: #ff5000;
}

.menu-nav > li.elastic > ul > li {
    line-height: 26px;
}

.head {
    width: 100%;
    height: 102px;
    min-width: 1200px;
    border-bottom: 2px solid #1bbbdd;
    font-family: "Microsoft YaHei";
}

.head > div {
    width: 1200px;
    margin: 0 auto;
    height: 100px;
}

.head > div > .logo {
    width: 380px;
    height: 100px;
    float: left;
    padding-top: 5px;
}

.head > div > .logo > a > img {
    width: 155px;
    height: 95px;
    display: inline-block;
    vertical-align: top;
}

.head > div > .logo > a > span {
    display: inline-block;
    padding-top: 40px;
    padding-left: 15px;
    line-height: 55px;
    color: #1a1a1a;
    font-size: 16px;
    font-family: "Microsoft Yahei"
}

.head > div > .nav-link {
    float: left;
    width: 640px;
    height: 100px;
    text-align: left;
    padding-bottom: 18px;
}

.head > div > .nav-link > a {
    display: inline-block;
    padding-top: 60px;
    height: 100px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    color: #333;
    vertical-align: top;
    margin-right: 40px;
    position: relative;
}

.head > div > .nav-link > a:hover {
    color: #0b8ded;
}

.head > div > .nav-link > a.active {
    color: #1bbbdd;
}

.head > div > .nav-link > a > span {
    display: block;
    position: absolute;
    height: 18px;
    font-size: 12px;
    color: #fff;
    top: 40px;
    left: 25px;
    text-align: left;
    line-height: 16px;
    font-family: "SimSun";
    background-repeat: no-repeat;
    background-image: url(../images/v3/icons-2.png);
}

.head > div > .nav-link > a > span.mark-1 {
    width: 70px;
    background-position: 0 1px;
}

.head > div > .nav-link > a > span.mark-2 {
    width: 50px;
    background-position: 0 -58px;
}

.head > div > .tasks {
    width: 180px;
    height: 100px;
    float: right;
    padding-top: 20px;
    padding-bottom: 10px;
    position: relative;
}

.head > div > .tasks > a {
    display: block;
    width: 180px;
    height: 40px;
    padding-left: 48px;
    line-height: 40px;
    background-color: #ff5000;
    color: #fff;
    font-size: 18px;
    font-family: "Microsoft Yahei";
    background-repeat: no-repeat;
    background-position: 22px -412px;
    background-image: url(../images/v3/icons-2.png);
}

.head > div > .tasks > span {
    display: block;
    font-size: 0px;
    line-height: 30px;
    text-align: center;
}

.head > div > .tasks > span > span {
    font-size: 12px;
}

.head > div > .tasks > span > span:first-child {
    margin-right: 10px;
}

.head > div > .tasks > ul {
    position: absolute;
    display: none;
    width: 250px;
    padding: 2px 10px 20px 10px;
    background-color: #fff;
    border: 1px solid #ff5000;
    z-index: 2;
    right: 0;
    top: 59px;
    font-family: "SimSun";
}

.head > div > .tasks:hover > ul {
    display: block;
}

.head > div > .tasks > ul > li > span {
    display: block;
    line-height: 22px;
}

.head > div > .tasks > ul > li > span:first-child {
    color: #999;
}

.head > div > .tasks > ul > li > span:first-child + li {
    color: #333;
}

.head > div > .tasks > ul > li:first-child {
    line-height: 48px;
    padding-left: 20px;
    font-size: 14px;
    border-bottom: 1px dotted #ddd;
}

.head > div > .tasks > ul > li:first-child + li {
    height: 70px;
    padding: 20px 0 6px 70px;
    background-repeat: no-repeat;
    background-position: 10px 18px;
    background-image: url(../images/v3/icons-5.png);
}

.head > div > .tasks > ul > li:first-child + li + li {
    height: 70px;
    padding: 20px 0 6px 70px;
    background-repeat: no-repeat;
    background-position: 10px -72px;
    background-image: url(../images/v3/icons-5.png);
}

.head > div > .tasks > ul > li:first-child + li + li + li {
    height: 70px;
    padding: 20px 0 6px 70px;
    background-repeat: no-repeat;
    background-position: 10px -162px;
    background-image: url(../images/v3/icons-5.png);
}

.head > div > .tasks > ul > li:first-child + li + li + li + li {
    padding-top: 20px;
}

.head > div > .tasks > ul > li > a {
    width: 206px;
    margin: 0 auto;
    height: 36px;
    display: block;
    line-height: 36px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-family: "Microsoft Yahei";
    background-color: #ff5000;
}

.head > div > .phone {
    float: right;
    width: 320px;
    font-size: 32px;
    color: #ff5000;
    font-family: "Georgia";
    padding: 30px 0 30px 52px;
    line-height: 40px;
    background-position: 0 -862px;
    background-repeat: no-repeat;
    background-image: url(../images/v3/icons-6.png);
}

/*页脚*/
.foot {
    width: 100%;
    min-width: 1200px;
    border-top: 3px solid #ccc;
}

.foot > div:first-child {
    width: 1200px;
    margin: 0 auto;

}

.foot > div:first-child:after {
    content: "";
    display: block;
    clear: both;
}

.foot > div:first-child > div {
    float: left;
    height: 120px;
}

/*导航*/
.foot > .top > .con1 {
    width: 448px;
    padding: 20px 0;
}

.foot > .top > .con1 > a {
    width: 110px;
    display: block;
    line-height: 40px;
    text-align: center;
    float: left;
    color: #666;
    font-size: 16px;
    font-family: "Microsoft Yahei";
}

.foot > .top > .con1 > a:hover {
    color: #fe8f00;
}

.foot > .top > .con2 {
    width: 292px;
    height: 120px;
    padding-top: 10px;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}

.foot > .top > .con2:after {
    content: "";
    display: block;
    clear: both;
}

.foot > .top > .con2 > a {
    display: block;
    width: 134px;
    height: 110px;
    line-height: 34px;
    padding-top: 76px;
    height: 120px;
    color: #666;
    font-size: 14px;
    text-align: center;
    font-family: "Microsoft Yahei";
    background-repeat: no-repeat;
    background-image: url(../images/v3/icons-6.png);
}

.foot > .top > .con2 > a:hover {
    color: #0fb7db;
}

.foot > .top > .con2 > a:first-child {
    float: left;
    position: relative;
    background-position: 32px -276px;
}

.foot > .top > .con2 > a:first-child > span:first-child + span {
    display: none;
    width: 172px;
    height: 172px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #0fb7db;
    left: -160px;
    top: -15px;
    position: absolute;
}

.foot > .top > .con2 > a:first-child > span:first-child + span + span {
    display: none;
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid #0fb7db;
    border-top: 6px solid #fff;
    border-bottom: 6px solid #fff;
    left: 11px;
    top: -46px;
}

.foot > .top > .con2 > a:first-child:hover > span:first-child + span + span {
    display: block;
}

.foot > .top > .con2 > a:first-child:hover > span:first-child + span {
    display: block;
}

.foot > .top > .con2 > a:first-child:hover {
    background-position: 32px -406px;
}

.foot > .top > .con2 > a:first-child + a {
    float: right;
    background-position: 32px -536px;
}

.foot > .top > .con2 > a:first-child + a:hover {
    background-position: 32px -666px;
}

.foot > .top > .con3 {
    width: 328px;
    padding-top: 10px;
    padding-left: 30px;
    color: #666;
    font-family: "Microsoft Yahei";
}

.foot > .top > .con3 > ul > li:first-child {
    height: 24px;
    font-size: 18px;
    line-height: 24px;
}

.foot > .top > .con3 > ul > li:first-child + li {
    height: 48px;
    line-height: 38px;
    padding-top: 10px;
    padding-left: 50px;
    font-size: 24px;
    color: #ff5000;
    font-family: "Microsoft Yahei";
    background-image: url(../images/v3/icons-6.png);
    background-repeat: no-repeat;
    background-position: 0 -788px
}

.foot > .top > .con3 > ul > li:first-child + li + li {
    font-size: 16px;
    line-height: 26px;
    padding-top: 4px;
}

.foot > .top > .con4 {
    padding: 20px 0;
}

.foot > .top > .con4 > a {
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family: "Microsoft Yahei";
}

.foot > .top > .con4 > a:first-child {
    background-color: #ffba00;
    position: relative;
}

.foot > .top > .con4 > a:first-child + a {
    margin-top: 20px;
    background-color: #ff5000;
}

.foot > .links {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;
    margin: 0 auto;
    padding-bottom: 15px;
    min-height: 32px;
}

.foot.master > .links > span {
    display: none;
}

.foot > .links > span:first-child {
    line-height: 32px;
    vertical-align: top;
}

.foot > .links > span:first-child + span {
    line-height: 32px;
    font-size: 0;
    vertical-align: top;
}

.foot > .links > span > a {
    color: #666;
    margin-right: 20px;
    font-size: 12px;
    display: inline-block;
}

.foot > .links > span > a:hover {
    color: #ff5000;
}

.foot > .links > span > a.more {
    color: #ff5000;
}

.foot > .links > span > a.team {
    color: #0178e7;
}

.foot > div.copyright {
    width: 1200px;
    margin: 0 auto;
    text-align: center;

    padding-top: 10px;
    line-height: 52px;
    font-family: "Microsoft Yahei";
    border-top: 1px solid #e4e4e4;
}

.foot.master > div.copyright {
    margin-top: 90px;
}

.foot > .copyright > span {
    font-size: 14px;
    margin-left: 40px;
    color: #5b5b5b;
}

.foot > .copyright > span:first-child {
    margin-left: 0;
}

/*SiteMape*/
.sitemap {
    width: 100%;
    height: 41px;
    background-color: #f8f8f8;
    border-bottom: 1px #ddd dotted;
    margin-bottom: 0;
}

.sitemap > ul {
    width: 1000px;
    height: 40px;
    margin: 0 auto;
}

.sitemap > ul > li {
    float: left;
    margin-right: 10px;
}

.sitemap > ul > li > i {
    padding-left: 10px;
    color: #2d8ac3;
}

.sitemap > ul > li > a {
    height: 40px;
    line-height: 40px;
    display: inline-block;
    color: #2d8ac3;
}

.sitemap > ul > li.last {
    float: right;
}

.sitemap > ul > li.last > a {
    color: red;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 0 13px;
    background-image: url(../images/adve/42.png);
}

/*SiteMape*/

