@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a, img {
    border: 0;
}

body {
    font: 12px/180% Arial, Helvetica, sans-serif, "新宋体";
}

ul, ol, h2, h3 {
    margin: 0;
    padding: 0;
}

.demo {
    width: 480px;
    margin-left: 20px;
    margin-top: 30px;
}

/*history*/
.history {
    background: url(../images/line.gif) repeat-y 162px 0;
    position: relative;
}

.history-date {
    position: relative;
}

.history-first {
    background: #fff url(../images/icon02.jpg) no-repeat 140px 14px;
    height: 59px;
    font-size: 22px;
    font-family: 微软雅黑;
    font-weight: normal; /*padding-left:25px;*/
    margin-bottom: 30px;
}

.history-date h2 {
    background: url(../images/icon03.png) no-repeat 145px 15px;
    height: 59px;
    font-size: 14px;
    font-family: 微软雅黑;
    font-weight: normal; /*padding-left:25px;*/
    margin-bottom: 40px;
}

.history-date h2.first {
    position: relative;
    left: 0;
    top: 0;
    width: 480px;
    z-index: 99;
}

.history-date h2.active {
    background: url(../images/icon03-blue.png) no-repeat 145px 15px;
}

.history-date h2 a {
    vertical-align: top;
    color: #00bbff;
    display: inline-block;
    *display: inline;
    zoom: 1;
    background: url(../images/icon01.gif) no-repeat right 50%;
    padding-right: 17px;
    margin: 21px 0px 0 0;
}

.history-date h2 a:hover {
    text-decoration: none;
}

.history-date h2 img {
    vertical-align: -5px;
}

/*.history-date h2.date02{background:none;}*/
.history-date ul li {
    position: relative;
    display: none;
    background: url(../images/icon04.gif) no-repeat 155px 0; /*padding-bottom:35px;*/
    zoom: 1;
}

.history-date ul li.last {
    padding-bottom: 0;
}

.history-date ul li:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.history-date ul li h3 {
    float: left;
    width: 165px;
    min-height: 59px;
    text-align: right;
    padding-right: 19px;
    color: #c3c3c3;
    font: normal 14px/16px Arial;
}

.history-date ul li h3 span {
    display: block;
    color: #d0d0d0;
    font-size: 12px;
}

.history-date ul li dl {
    width: 250px;
    float: left;
    padding-left: 41px;
    margin-top: -5px;
    font-family: 微软雅黑;
}

.history-date ul li dl dt {
    font: 20px/22px 微软雅黑;
    color: #737373;
}

.history-date ul li dl dt span {
    display: block;
    color: #787878;
    font-size: 12px;
}

.history-date ul li.green h3 {
    color: #1db702;
}

.history-date ul li.green h3 span {
    color: #a8dda3;
}

.history-date ul li.green dl {
    margin-top: -8px;
}

.history-date ul li.green dl dt {
    font-size: 15px;
    line-height: 28px;
}

.history-date ul li.green dl dt a {
    display: inline-block;
    *display: inline;
    zoom: 1; /*overflow:hidden;*/
    vertical-align: top;
    margin-left: 12px;
}

.history-date ul li.green dl dd {
    padding-top: 20px;
    display: none;
}

.history-date ul li.green dl dd img {
    float: left;
}

.history-date ul li.green dl dd p {
    overflow: hidden;
    zoom: 1;
    line-height: 21px;
    color: #787878;
}

.history-date h2.first .nogo {
    width: 140px;
    text-align: right;
}

.history-date h2.first .more-history {
    font-size: 15px;
    background: transparent;
    margin-left: 65px;
    width: 250px;
    text-decoration: none;
    color: #787878;
}

.history-date h2.first .more-history:hover {
    text-decoration: none;
    color: #787878;
}

* body .history-date ul li dl dt {
    _font-size: 12px !important;
    _font-weight: bold;
}

* body .history-date ul li dl dt span {
    _font-weight: normal !important;
}

* body .history-date ul li.green dl dt a {
    _background: transparent !important;
    *background: transparent !important;
    *font-size: 12px !important;
    _font-weight: normal !important;
}

.chuxian {
    position: absolute;
    left: 90%;
    top: -10px; /*width:75%;*/
}

.dianji {
    position: relative;
    cursor: pointer;
}

.line1 {
    background: url(../images/line1.png) repeat-x;
    position: absolute;
    top: 15px;
    left: 0px;
    height: 8px;
}

.tree161 {
    position: relative;
}

.tree161-box {
    border: 1px solid #999;
    padding: 5px;
    margin: 5px;
}

/*history1*/
.history1 {
    background: url(../images/line.gif) repeat-y 169px 0;
    position: relative;
}

.history1-date {
    position: relative;
}

.history1-first {
    background: url(../images/icon05.jpg) no-repeat 152px 0px;
    height: 59px;
    font-size: 18px;
    font-family: 微软雅黑;
    font-weight: normal; /*padding-left:25px;margin-bottom:20px;*/
}

.history1-date h2 {
    background: url(../images/icon06.png) no-repeat 156px 18px;
    font-size: 14px;
    font-family: 微软雅黑;
    font-weight: normal; /*padding-left:25px;*/
    margin-bottom: 25px;
}

.history1-date h2.first {
    position: relative;
    left: 0;
    top: 0;
    width: 360px;
    z-index: 99;
}

.history1-date h2.active {
    background: url(../images/icon06-blue.png) no-repeat 156px 18px;
}

.history1-date h2 a {
    vertical-align: top;
    color: #00bbff;
    display: inline-block;
    *display: inline;
    zoom: 1;
    background: url(../images/icon01.gif) no-repeat right 25%;
    padding-right: 17px;
    margin: 21px 0px 0 0px;
}

.history1-date h2.first span {
    display: block;
    font-size: 12px;
    color: #1db702;
    margin-top: 5px;
    margin-right: -20px;
}

.history1-date h2 a:hover {
    text-decoration: none;
}

.history1-date h2 img {
    vertical-align: -5px;
}

/*.history1-date h2.date02{background:none;}*/
.history1-date ul li {
    position: relative;
    background: url(../images/icon07.jpg) no-repeat 164px 0; /*padding-bottom:25px;*/
    zoom: 1;
    display: none;
}

.history1-date ul li.last {
    padding-bottom: 0;
}

.history1-date ul li:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.history1-date ul li h3 {
    float: left;
    width: 160px;
    min-height: 15px;
    text-align: right;
    padding-right: 19px;
    color: #c3c3c3;
    font: normal 14px/16px Arial;
}

.history1-date ul li h3 span {
    display: block;
    color: #d0d0d0;
    font-size: 12px;
}

.history1-date ul li dl {
    width: 160px;
    float: left;
    padding-left: 41px;
    margin-top: -5px;
    font-family: 微软雅黑;
}

.history1-date ul li dl dt {
    font: 16px/22px 微软雅黑;
    color: #737373;
}

.history1-date ul li dl dt span {
    display: block;
    color: #787878;
    font-size: 12px;
}

.history1-date ul li.green h3 {
    color: #1db702;
}

.history1-date ul li.green h3 span {
    color: #a8dda3;
}

.history1-date ul li.green dl {
    margin-top: -8px;
}

.history1-date ul li.green dl dt {
    font-size: 15px;
    line-height: 28px;
}

.history1-date ul li.green dl dt a {
    display: inline-block;
    *display: inline;
    zoom: 1;
    overflow: hidden;
    vertical-align: top;
    margin-left: 12px;
}

.history1-date ul li.green dl dd {
    padding-top: 20px;
    display: none;
}

.history1-date ul li.green dl dd img {
    float: left;
}

.history1-date ul li.green dl dd p {
    overflow: hidden;
    zoom: 1;
    line-height: 21px;
    color: #787878;
}

.history1-date h2.first .nogo {
    width: 150px;
    text-align: right;
}

.history1-date h2.first .more-history1 {
    font-size: 15px;
    background: transparent;
    margin-left: 40px;
    width: 160px;
    text-decoration: none;
    color: #787878;
}

.history1-date h2.first .more-history1:hover {
    text-decoration: none;
    color: #787878;
}

* body .history1-date ul li dl dt {
    _font-size: 12px !important;
    _font-weight: bold;
}

* body .history1-date ul li dl dt span {
    _font-weight: normal !important;
}

* body .history1-date ul li.green dl dt a {
    _background: transparent !important;
    *background: transparent !important;
    *font-size: 12px !important;
    _font-weight: normal !important;
}

/*history2*/
.history2 {
    background: url(../images/line.gif) repeat-y 100px 0;
    position: relative;
}

.history2-date {
    position: relative;
}

.history2-first {
    background: #fff url(../images/icon08.jpg) no-repeat 88px 5px;
    height: 30px;
    font-size: 22px;
    font-family: 微软雅黑;
    font-weight: normal; /*padding-left:25px;*/
    margin-bottom: 20px;
}

.history2-date h2 {
    background: url(../images/icon09.png) no-repeat 92px 22px;
    height: 59px;
    font-size: 12px;
    font-family: 微软雅黑;
    font-weight: normal; /*padding-left:25px;*/
    margin-bottom: 10px;
}

.history2-date h2.first {
    position: relative;
    left: 0;
    top: 0;
    width: 270px;
    z-index: 99;
}

.history2-date h2.active {
    background: url(../images/icon09-blue.png) no-repeat 92px 22px;
}

.history2-date h2 a {
    vertical-align: top;
    color: #00bbff;
    display: inline-block;
    *display: inline;
    zoom: 1;
    background: url(../images/icon01.gif) no-repeat right 50%;
    padding-right: 17px;
    margin: 21px 0px 0 0;
}

.history2-date h2 a:hover {
    text-decoration: none;
}

.history2-date h2 img {
    vertical-align: -5px;
}

/*.history2-date h2.date02{background:none;}*/
.history2-date ul li {
    position: relative;
    display: none;
    background: url(../images/icon010.jpg) no-repeat 96px 2px;
    padding-bottom: 0px;
    zoom: 1;
}

.history2-date ul li.last {
    padding-bottom: 0;
}

.history2-date ul li:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.history2-date ul li h3 {
    float: left;
    width: 100px;
    min-height: 15px;
    text-align: right;
    padding-right: 19px;
    color: #c3c3c3;
    font: normal 13px/16px Arial;
}

.history2-date ul li h3 span {
    display: block;
    color: #d0d0d0;
    font-size: 12px;
}

.history2-date ul li dl {
    width: 160px;
    float: left;
    padding-left: 24px;
    margin-top: -5px;
    font-family: 微软雅黑;
}

.history2-date ul li dl dt {
    font: 14px/22px 微软雅黑;
    color: #737373;
}

.history2-date ul li dl dt span {
    display: block;
    color: #787878;
    font-size: 12px;
    float: right;
}

.history2-date ul li.green h3 {
    color: #1db702;
}

.history2-date ul li.green h3 span {
    color: #a8dda3;
}

.history2-date ul li.green dl {
    margin-top: -8px;
}

.history2-date ul li.green dl dt {
    font-size: 12px;
    line-height: 28px;
}

.history2-date ul li.green dl dt a {
    display: inline-block;
    *display: inline;
    zoom: 1;
    overflow: hidden;
    vertical-align: middle;
    margin-left: 12px;
}

.history2-date ul li.green dl dd {
    padding-top: 20px;
    display: none;
}

.history2-date ul li.green dl dd img {
    float: left;
}

.history2-date ul li.green dl dd p {
    overflow: hidden;
    zoom: 1;
    line-height: 21px;
    color: #787878;
}

.history2-date h2.first .nogo {
    width: 85px;
    text-align: right;
}

.history2-date h2.first .more-history2 {
    font-size: 14px;
    background: transparent;
    margin-left: 35px;
    width: 130px;
    text-decoration: none;
    color: #787878;
}

.history2-date h2.first .more-history2:hover {
    text-decoration: none;
    color: #787878;
}

* body .history2-date ul li dl dt {
    _font-size: 12px !important;
    _font-weight: bold;
}

* body .history2-date ul li dl dt span {
    _font-weight: normal !important;
}

* body .history2-date ul li.green dl dt a {
    _background: transparent !important;
    *background: transparent !important;
    *font-size: 12px !important;
    _font-weight: normal !important;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.bg-red {
    background: red;
}

.bg-yellow {
    background: yellow;
}

.bg-green {
    background: green;
}

.bg-yellowgreen {
    background: yellowgreen;
}

.bg-blue {
    background: blue;
}

.opacity {
    filter: alpha(opacity=50); /*支持 IE 浏览器*/
    -moz-opacity: 0.50; /*支持 FireFox 浏览器*/
    opacity: 0.50; /*支持 Chrome, Opera, Safari 等浏览器*/
}

.table161 {
    width: 450px;
    display: table-cell;
}

.table161-demo {
    display: table-cell;
}