<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PositionFormulaMapper">
    <!--根据公式ID查询已选的岗位-->
    <select id="listAllById" resultType="pd" parameterType="pd">
		SELECT
			b.ID,
			b.GRADE_CODE,
			b.GRADE_NAME
		FROM
			sal_pos_formula a,bd_position_level b
		WHERE a.SF_ID = #{ID}
		AND b.ID = a.POS_ID
	</select>

    <!--查询已分配薪资公式的岗位-->
    <select id="listUsed" resultType="pd" parameterType="pd">
		SELECT
			POS_ID
		FROM
			sal_pos_formula a
	</select>

    <!--查询未分配薪资公式的岗位-->
    <select id="listAll" resultType="pd" parameterType="String">
        SELECT
        *
        FROM
        bd_position_level
        WHERE ID NOT IN
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!--根据公式ID删除已配置的岗位薪资方案-->
    <select id="delete" resultType="pd" parameterType="pd">
		delete 
		FROM
			sal_pos_formula 
		WHERE SF_ID = #{ID}
	</select>

    <!--新增岗位薪资方案-->
    <select id="save" resultType="pd" parameterType="pd">
		insert into sal_pos_formula(
			POS_ID,	
			SF_ID
		) values (
			#{POS_ID},
			#{SF_ID}			
		)
	</select>

    <!--更新方案配置-->
    <update id="edit" parameterType="pd">
		update sal_formula
			set FITABLE = #{IDS}
		where ID = #{ID}
	</update>
</mapper>